* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* defaults -------------------------------------- */
body {
  line-height: 2.5rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: #f8f1f1;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #11698e;
}

body::-webkit-scrollbar-thumb {
  background-color: #19456b;
  border-radius: 50px;
  border: 2px solid #16c79a;
}

button {
  font-family: "Montserrat", sans-serif;
  height: 2rem;
  font-weight: 600;
  padding: 0 1rem;
  margin: 0 1rem 1rem 1rem;
  transition: all 0.1s ease-out;
  background-color: #11698e;
  border-style: none;
  color: #f8f1f1;
  border-radius: 5px;
  box-shadow: 0px 3px 4px #19456b;
}
button:hover {
  position: relative;
  transform: translate(0, -3px);
  background-color: #16c79a;
  color: #19456b;
  box-shadow: 0px 5px 8px #19456b;
}
button:active {
  outline: none;
  transform: translate(0, -1px);
  color: #f8f1f1;
  box-shadow: 0px 3px 4px #19456b;
}
button:focus {
  outline: none;
}

.fas {
  color: #11698e;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 5px;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
h3 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
p,
text {
  color: #11698e;
}

.display-none {
  display: none;
}

.screenResError {
  display: none;
  color: white;
}

/* --------------------------------- homepage section */

/* navbar default */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.navbar-logo {
  width: 40px;
  margin: auto auto auto 1rem;
  filter: drop-shadow(0px 0px 2px #19456b);
}

/* mobile */
.menu-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;

  list-style: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #16c79a 30%, #11698e);
  text-align: left;
  z-index: 2;
}

.menu-list button {
  position: relative;
  width: 50%;
  height: 2rem;
  margin: 1rem auto 1rem 1rem;
  z-index: 3;
}

.menu-hero-image {
  position: absolute;
  z-index: 0;
  filter: opacity(0.4);
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

/* hamburger menu */
.hamburger-menu {
  position: relative;
  z-index: 2;
}

.open-menu,
.close-menu {
  margin-top: 1rem;
}

.open-menu .fas,
.close-menu .fas {
  color: #16c79a;
}

.open-menu:hover .fas,
.close-menu:hover .fas {
  color: #19456b;
}

.open-menu:active .fas,
.close-menu:active .fas {
  color: #f8f1f1;
}
/* hero section */
.hero {
  overflow: hidden;
}

.hero-text-and-buttons {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;

  padding: 5% 0;
}

.hero-text {
  color: #19456b;
}

.hero-image {
  text-align: center;
}
.hero img {
  width: 220px;
  filter: drop-shadow(0px 0px 5px #19456b);
}

/* about section */
#aboutme {
  background-color: #f8f1f1;
  height: 100vh;
}
/* screen res error */

@media (max-width: 210px) {
  html {
    background-color: black;
  }
  section {
    display: none;
  }
  .screenResError {
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar-logo {
    position: absolute;
    z-index: -1;
    width: 100%;
    filter: opacity(0.2);
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 473px) {
  .hero {
    display: flex;
    background-color: #11698e;
    background-image: linear-gradient(180deg, #19456b 10%, #11698e);

    height: 350px;
  }

  .hero-text-and-buttons {
    margin-left: auto;
    padding: 1rem;
  }
  .hero-text > h1,
  h2,
  h3 {
    width: 100%;
    color: #f8f1f1;
    text-align: left;
  }
  .hero h1 {
    font-size: 2rem;
    letter-spacing: 3px;
  }
  .hero h2 {
    font-size: 1rem;
  }
  .hero h3 {
    font-size: 0.9rem;
  }

  .hero-buttons {
    text-align: left;
  }
  .hero-buttons button {
    padding: 0.5rem !important;
    margin-left: 0;
    padding: 0;
    background-color: #16c79a;
    color: #19456b;
  }
  .hero-buttons button:active {
    color: #f8f1f1;
  }
  .hero-image {
    text-align: right;
    display: inline;
    margin: auto auto auto 0;
  }
  .hero img {
    width: 270px;
  }
}

@media (min-width: 579px) {
  .hero-text-and-buttons {
    justify-content: center;
  }
  .navbar-logo {
    margin: 1rem;
  }

  #downloadCV-NavButton,
  #contactMe-NavButton {
    display: none;
  }

  .navbar-contactButton button {
    margin: auto 1rem;
    background-color: #16c79a;
    color: #19456b;
    padding: 0.5rem;
  }

  .menu-hero-image {
    display: none;
  }
}
@media (min-width: 733px) {
  .hamburger-menu {
    display: none;
  }
  #top-nav {
    display: block;
    width: 100%;
  }

  .menu-list {
    position: static;
    display: block;
    background-image: none;
    width: 100%;
    height: auto;
    text-align: right;
  }
  .menu-list-item {
    display: inline;
    margin: auto 0 auto 1rem;
  }
  .menu-list-item button {
    padding: 0.5rem;
    margin: 0;
    width: auto;
    background-color: transparent;
    box-shadow: none;
    color: #19456b;
  }
  .menu-list-item button:hover {
    border: 1px solid #19456b;
    box-shadow: 0px 5px 8px #19456b;
  }

  .menu-list-item button:active {
    box-shadow: 0px 3px 4px #19456b;
    background-color: #16c79a;
    color: #f8f1f1;
  }
  .navbar-contactButton {
    display: block;
    position: static;
    margin: auto 1rem;
    width: auto;
    text-align: right;
  }
  .navbar-contactButton button {
    margin: 0;
    width: 6rem;
  }
  .navbar-contactButton button:active {
    color: #f8f1f1;
  }
}
